body {
    border: 1px solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    color: silver;
    font-size: 200%;
    height: 900px;
}

div.a1 {
    border: 1px solid;
    border-color:black;
    float: left;
    width: 299px;
    margin: auto;
    font-size: 91%;
    color: #000;
    margin-bottom: 30px;
    font-style: italic;
    height: 580px;
}

div.a2 {
    border: 1px solid;
    border-color: black;
    float: none;
    margin-right: 300px;
    margin-left: 300px;
    color: #000;
    font-size: 60%;
    margin-bottom: 30px;
    font-style: italic;
    font-size: 91%;
    height: 580px;
}

div.a3 {
    border: 1px solid;
    border-color: black;
    float: none;
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    font-style: italic;

}

div.a4 {
    border: 1px solid;
    border-color: black;
    width: 299px;
    margin: top;
    float: right;
    font-size: 91%;
    color: #000;
    margin-bottom: 30px;
    font-style: italic;
    height: 580px;
}

div.a6 {
    border: 1px solid;
    border-color: black;
}